---
const today = new Date();
---

<footer class="border-t border-foreground/10 w-full">
	<div class="container flex flex-col mb-8 gap-8">
		<div class="w-full"></div>
		<div class="flex flex-row justify-between items-center">
			<div class="text-muted-foreground/60 text-xs">&copy; {today.getFullYear()} Editbase Pty Ltd. All rights reserved.</div>

			<div class="text-muted-foreground/60 text-xs">Edit this page on <a href="https://github.com/editbase/ui" target="_blank" class="underline hover:text-foreground">GitHub</a></div>
		</div>
	</div>
	
</footer>